*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: fit-content;
 
}

header{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 8px 16px rgba(174, 174, 174, 0.1);
    z-index: 1000;
}

header span{
    display: flex;
    gap:15px;
}

header nav{
    display: flex;
    gap:40px;
}

header nav a{
    color:grey;
    font-size: 14px;
    font-weight: 400;
}

header nav a:hover{
    color:rgb(195, 66, 11);
}


header > a{
    border:1px solid rgb(195, 66, 11);
    width: fit-content;
    padding: 7px 16px;
    color:rgb(195, 66, 11);
    font-size: 17px;
    transition: 1s;

}

header > a:hover{
    background-color: rgb(195, 66, 11);
    color:white;
}

main{
    width: 100%;
    height: fit-content;
    margin-top: 70px;
   
}

#home{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: rgb(188, 255, 253);
    animation-name: bg-change;
    animation-duration: 30s;
    animation-iteration-count: infinite;

}

.left-div{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
}

.left-div h1{
    font-size: 80px;
    font-weight: 1000;
    color: rgb(195, 66, 11);
}

.left-div a{
    font-size: 25px;
    border: 1px solid rgb(195, 66, 11);
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    color:rgb(195, 66, 11);
    transition: 1s;
}

.left-div a:hover{
    background-color: rgb(195, 66, 11);
    color:white;
}


.right-div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:80px;
 
}

.right-div .big-image{
   width: 50%;
   height: 60%;
   object-fit: contain;
   transform: rotate(-25deg) scaleX(-1);
}

.right-div span{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
}

.right-div span small{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
}

.right-div span small:hover{
    cursor: pointer;
    border:none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.right-div span .active{
    border-color: rgb(195, 66, 11);
}


.right-div span small img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}


#products{
   width: 100%;
   min-height:calc(100vh - 70px);
   display: flex;
   flex-direction: column;
   padding: 80px;
   justify-content: flex-start;
   align-items: center;
   gap:50px
}

#products h2{
    font-size: 45px;
    height: 50px;
    font-weight: 100;
    text-transform: uppercase;


}

#products article{
    width: 100%;
    height: fit-content;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:100px;
   
    
}


#products article div{
    width: 100%;
    display: flex;
    gap:70px;
    justify-content: center;
}

#products article div small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
   border: 1px solid darkblue;
    padding: 20px;
    gap:10px;
    transition: 0.5s;
    
}

#products article div small:hover {
      cursor: pointer;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
      border: none;
}

#products article div small img{
    height: 70%;
    width: 80%;
    object-fit: contain;
    
}

#products article div small b{
    font-weight: 400;
}


#order{
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
}

#order h2{
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    height:50px;
}

#order article{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: aliceblue;

}

#order article div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    
}

#order article .div-1 > img{
     width: 80%;
     object-fit: contain;
}

#order article .div-1 a{
    display: flex;
    gap:20px;
    width: 80%;
    justify-content: center;
    border: 1px solid rgb(195, 66, 11);
    color:rgb(195, 66, 11);
    padding: 15px 35px;
    transition: 1s;

}

#order article .div-1 a:hover{
    background-color: rgb(195, 66, 11);
    color:white;
  
}

#order article .div-1 a img {
      width: 30px;
      height: 30px;
}

#order article .div-1 a:hover img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}


#order article .div-2{
    background-color: white;
    padding: 30px;

}

#order article .div-2 h4{
    font-size: 20px;
    color:rgb(195, 66, 11);
    font-weight: 400;
}

#order article .div-2 p{
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color:grey;
}

#order article .div-2 a{
   width: fit-content;
   padding: 10px 30px;
   border:1px solid rgb(195, 66, 11);
   color:rgb(195, 66, 11);
   margin-top: 10px;
   transition: 1s;
}

#order article .div-2 a:hover{
    background-color: rgb(195, 66, 11);
    color:white;
}


#contact{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 0;
    gap:50px;
   
    
}

#contact h2{
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
}

#contact article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 50px 100px;
}

#contact article .map{
    width: 50%;
    object-fit: contain;
}

#contact article div{
    width: 30%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
}

#contact article div span{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: white;

}

#contact article div span b{
   display: flex;
   gap:10px;
   color:rgb(195, 66, 11);
   margin-bottom: 30px;

}

#contact article div span b img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: rgb(195, 66, 11);
}

footer{
    width: 100%;
    padding: 10px 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 11px;
}



@keyframes bg-change{

     25%{
          background-color: rgb(254, 216, 222);
     }

     50%{
           background-color: lightgoldenrodyellow;
     }

     75%{
           background-color: rgb(220, 254, 220);
     }

     100%{
          background-color: lightblue;
     }

}